<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coredata增删改查.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>278580A81F6F58E400BB1021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>278580C41F6F58E600BB1021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>278580CF1F6F58E700BB1021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
